<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>171497883597-4hbei4csght1j9svohun6i6hjm9v4oio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171497883597-4hbei4csght1j9svohun6i6hjm9v4oio</string>
	<key>API_KEY</key>
	<string>AIzaSyAIowpRRMGuWcluCdr_NqyTOQSslsbBpP0</string>
	<key>GCM_SENDER_ID</key>
	<string>171497883597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseapp.ionic-c3e68</string>
	<key>PROJECT_ID</key>
	<string>ionic-c3e68</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic-c3e68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171497883597:ios:246e8b455a7c054e</string>
	<key>DATABASE_URL</key>
	<string>https://ionic-c3e68.firebaseio.com</string>
</dict>
</plist>