<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

        <ion-title>
          Todo List
        </ion-title>

    </ion-toolbar>
  </ion-header>
<ion-content padding>
  <ion-segment (ionChange)="updateFilter($event.detail.value)">
      <!-- the value in the $event is controlled by the value in the segement button -->
      <ion-segment-button value="" checked>
          All
      </ion-segment-button>
      <ion-segment-button value="complete">
          Complete
      </ion-segment-button>
      <ion-segment-button value="pending">
          Pending
      </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-item *ngFor="let todo of todos | async; trackBy: trackById">
      <ion-label>
        <span [class.complete]="'todo.status' === 'complete'">

        </span>
      </ion-label>
      <ion-checkbox (click)="toggleStatus(todo)" [checked]="'todo.status' === 'complete'"></ion-checkbox>

      <ion-button [href]="'todo/' + todo.id">
        <ion-icon name="eye"></ion-icon>
      </ion-button>

      <ion-button (click)="presentTodoForm(todo)">
        <ion-icon name="create"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>
